.MultiCarousel { 
     overflow: hidden;
      padding: 5% 0; 
      width: 100%; 
      position:relative;
     }
.MultiCarousel .MultiCarousel-inner
{ 
    transition: 1s ease all;
     float: left;
 }
.MultiCarousel .MultiCarousel-inner .item
 { 
     float: left;
    }
.MultiCarousel .MultiCarousel-inner .item > div
 { 
     margin:10px;
     border: 4px solid #eeeeee;
    }
.MultiCarousel .leftLst, .MultiCarousel .rightLst
 { 
    position:absolute; 
    top:calc(50% - 130px); 
}
.MultiCarousel .leftLst
 {
     left:0; 
    }
.MultiCarousel .rightLst {
     right:0; 
    }
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over 
{ 
    pointer-events: none; background:#ccc;
 }